@model Modelo.Cadastros.Produto

@{
    ViewBag.Title = "Cadastro de Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Novo PRODUTO
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Produto/_PartialEditContentPanel.cshtml",Model)
        </div>
        <div div class="panel-footer panel-info">
            <div>
                <input type="submit" value="Salvar" class="btn btn-success" /> |
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn	btn-info" })
                @*<button class="btn btn-default" onclick="location.href='@Url.Action("Index", "Fabricante")';return false;">Cancelar</button>*@
            </div>
        </div>

    </div>
}
@section Scriptpage{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");
        });
    </script>
}





